.product-detail {
  width: 60%;
  margin: auto;
  padding: 2rem;
  background-color: #e5e3e3;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgb(0, 0, 0, 0.5);
}

.product-detail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.product-detail h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-detail p {
  margin-bottom: 1rem;
}

.add-to-cart-btn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f86700;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.add-to-cart-btn:active {
  transform: scale(0.95);
}

.add-to-cart-btn:hover {
  background-color: #b85814;
}
