/* Navbar.css */

.navLinkAll {
  width: 100%;
  background-color: #f86700; /* dark grey */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
}
.welcomeLog {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.welcomeUser {
  color: #f8f9fa; /* white */
  text-decoration: none;
  margin-left: 2em;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.logoutUser {
  color: #f8f9fa; /* white */
  text-decoration: none;
  margin-left: 2em;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.logoutUser:hover {
  background-color: #c51212; /* blue */
  color: #f8f9fa; /* white */
}

.sepBottomNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.bottomNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navLink {
  color: #f8f9fa; /* white */
  text-decoration: none;
  margin-left: 2em;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navLink:hover {
  background-color: #c51212; /* blue */
  color: #f8f9fa; /* white */
}

@media (max-width: 768px) {
  .sepBottomNav {
    flex-direction: column;
  }

  .bottomNav {
    justify-content: center;
    flex-wrap: wrap;
  }

  .navLink {
    margin: 0.5em 0;
  }
}
