.loginInputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInputFields input {
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  width: 95%;
  margin: 10px;
}
.submitLogin {
  border-radius: 5px;
  width: 50%;
  border: solid black 1px;
  background-color: white;
}
.submitLogin:hover {
  color: white;
  background-color: black;
}
.registerLink {
  text-decoration: none;
  color: black;
  border: solid black 1px;
  padding: 4px;
  margin-left: 4px;
  border-radius: 5px;
  margin: 10px;
}
.registerLink:hover {
  color: white;
  background-color: black;
}

.newCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.newToMoody {
  color: rgb(138, 129, 129);
}
